### **Library Preparation**

In [1]:
try :
  import factor_analyzer
except :
  !pip install factor_analyzer
  import factor_analyzer

# import required libraries
import pandas as pd
import numpy as np
from factor_analyzer import FactorAnalyzer
import matplotlib.pyplot as plt

## **Dataset import and preprocessing**

In [2]:
! gdown --id 1hH9s_NIGXDZhq9HazkV-Ysv8MNxokmpQ

/usr/local/lib/python3.7/dist-packages/gdown/cli.py:131: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  category=FutureWarning,
Downloading...
From: https://drive.google.com/uc?id=1hH9s_NIGXDZhq9HazkV-Ysv8MNxokmpQ
To: /content/data_validasi.xlsx
100% 11.5k/11.5k [00:00<00:00, 14.2MB/s]

In [3]:
df=pd.read_excel('/content/data_validasi.xlsx',dtype={'no': np.int32, 'data':np.str}) #lokasi file csv
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

,Timestamp,Name / Initial,Gender,E1,WOP1,COU1,WOP2,PCQ1,PCQ2,E2,COU2
0,2022-09-22 23:31:12.661,winda,Female,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0
1,2022-09-22 23:49:44.716,Nadhira,Female,5.0,4.0,4.0,4.0,5.0,4.0,5.0,5.0
2,2022-09-23 06:57:58.879,Sakinah,Female,4.0,5.0,5.0,4.0,4.0,4.0,3.0,5.0
3,2022-09-23 08:09:11.297,r,Female,4.0,4.0,5.0,3.0,3.0,4.0,5.0,4.0
4,2022-09-23 08:10:56.623,el,Female,4.0,4.0,4.0,4.0,4.0,3.0,4.0,2.0
5,2022-09-23 08:12:55.866,Alya,Female,5.0,4.0,5.0,4.0,4.0,3.0,4.0,5.0
6,2022-09-23 08:13:33.668,Angelica,Female,5.0,5.0,5.0,5.0,4.0,5.0,5.0,4.0
7,2022-09-23 08:27:07.114,HRA,Male,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0
8,2022-09-23 08:29:44.656,J,Female,5.0,4.0,5.0,4.0,3.0,4.0,5.0,5.0
9,2022-09-23 08:30:00.820,Micheleasn,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0
10,2022-09-23 09:04:14.870,nwl,Female,5.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0
11,2022-09-23 09:05:49.643,A,Male,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
12,2022-09-23 09:19:34.109,hana,Female,4.0,4.0,5.0,4.0,4.0,3.0,5.0,4.0
13,2022-09-23 09:30:56.047,Irene Salsabila,Female,4.0,5.0,5.0,2.0,4.0,4.0,4.0,4.0
14,2022-09-23 09:38:58.707,nadia,Female,5.0,5.0,5.0,4.0,4.0,5.0,4.0,3.0
15,2022-09-23 11:06:35.725,Adrian Navis,Male,3.0,5.0,4.0,2.0,3.0,4.0,4.0,5.0
16,2022-09-23 11:42:10.386,Martha,Female,4.0,4.0,4.0,4.0,3.0,3.0,4.0,4.0
17,2022-09-23 13:30:56.702,ir,Female,2.0,4.0,2.0,2.0,2.0,2.0,4.0,4.0
18,2022-09-23 13:40:54.684,fms,Male,4.0,4.0,4.0,4.0,5.0,3.0,4.0,5.0
19,2022-09-23 14:41:39.479,rcl,Female,5.0,5.0,5.0,3.0,3.0,4.0,5.0,3.0
20,2022-09-23 14:46:03.246,ratwl,Male,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0
21,2022-09-23 14:51:03.577,khalisha,Female,5.0,3.0,3.0,3.0,4.0,4.0,5.0,3.0
22,2022-09-23 14:55:03.469,Rhaisya,Female,4.0,5.0,5.0,4.0,4.0,3.0,4.0,4.0
23,2022-09-23 16:09:11.394,April,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,4.0
24,2022-09-23 16:30:25.328,Tasya,Female,3.0,5.0,4.0,3.0,3.0,3.0,4.0,4.0
25,2022-09-23 17:44:54.639,EM,Female,4.0,2.0,4.0,2.0,2.0,3.0,2.0,2.0
26,2022-09-23 17:47:44.761,syifa,Female,4.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0
27,2022-09-24 00:04:13.243,t,Female,4.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0
28,2022-09-24 00:45:18.637,helen,Female,4.0,5.0,5.0,5.0,4.0,4.0,5.0,5.0
29,2022-09-24 10:58:55.029,tazkia,Female,5.0,5.0,5.0,5.0,4.0,3.0,5.0,5.0
30,2022-09-24 11:37:55.707,Fabian,Male,4.0,5.0,5.0,4.0,3.0,2.0,3.0,5.0
31,2022-09-24 11:42:42.821,ANS,Female,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0
32,2022-09-24 12:26:12.500,NM,Male,5.0,5.0,5.0,4.0,5.0,4.0,4.0,5.0
33,2022-09-24 13:19:00.028,zha,Male,4.0,5.0,4.0,5.0,5.0,5.0,2.0,5.0
34,2022-09-24 13:43:51.309,Jesaya,Male,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0
35,2022-09-24 13:46:52.253,Qarissa,Female,4.0,5.0,5.0,3.0,4.0,5.0,4.0,5.0
36,2022-09-24 14:27:33.091,Diva,Female,5.0,5.0,5.0,4.0,3.0,3.0,5.0,4.0
37,2022-09-24 18:21:18.850,c,Female,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0
38,2022-09-24 21:41:01.913,SM,Female,5.0,5.0,5.0,4.0,5.0,3.0,4.0,5.0
39,2022-09-25 00:32:48.573,m,Female,4.0,5.0,4.0,4.0,4.0,5.0,3.0,4.0
40,2022-09-25 18:31:04.534,Rafindra,Male,4.0,5.0,4.0,4.0,5.0,3.0,5.0,4.0
41,2022-09-25 19:41:55.104,ffp,Female,5.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0
42,2022-09-25 23:22:50.032,hamidah k,Female,4.0,5.0,5.0,3.0,4.0,3.0,4.0,5.0
43,2022-09-26 04:05:01.772,Albimandaka,Male,4.0,5.0,4.0,3.0,4.0,2.0,4.0,5.0
44,2022-09-26 07:41:04.570,a,Female,5.0,5.0,5.0,4.0,5.0,4.0,5.0,5.0
45,2022-09-26 07:45:30.856,dinda,Female,5.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0

In [4]:
#Dropping indentifier columns since we're only doing survey validation
df.drop({'Timestamp','Name / Initial','Gender'},axis=1,inplace=True)

#Dropping missing value rows
df.dropna(inplace=True)

display(df.info(),df.head(5))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   E1      46 non-null     float64
 1   WOP1    46 non-null     float64
 2   COU1    46 non-null     float64
 3   WOP2    46 non-null     float64
 4   PCQ1    46 non-null     float64
 5   PCQ2    46 non-null     float64
 6   E2      46 non-null     float64
 7   COU2    46 non-null     float64
dtypes: float64(8)
memory usage: 3.2 KB

None

    E1  WOP1  COU1  WOP2  PCQ1  PCQ2   E2  COU2
0  5.0   5.0   5.0   5.0   5.0   3.0  5.0   5.0
1  5.0   4.0   4.0   4.0   5.0   4.0  5.0   5.0
2  4.0   5.0   5.0   4.0   4.0   4.0  3.0   5.0
3  4.0   4.0   5.0   3.0   3.0   4.0  5.0   4.0
4  4.0   4.0   4.0   4.0   4.0   3.0  4.0   2.0

# **Adequacy Test**

In [5]:
#Bartlett't test of sphericity
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value,p_value

(104.60644703351069, 8.959204574466919e-11)

in this bartlett test, the p-value is 8,959 e-11 or less than 0, the test was statistically significant, indicating that the observed correlation matrix is not an identify matrix

# **Kaiser-Meyer-Olkin (KMO) Test**

value of KMO less than 0.6 is considered inadequate

In [6]:
from factor_analyzer.factor_analyzer import calculate_kmo
kmo_all, kmo_model=calculate_kmo(df)
display(kmo_model)

0.6791696294104808

the overall KMO for our data is 0,679 which is quite good. this value indicates that we can proceed with our planned factor analyst

# Confirmatory Factor Analysis using the semopy package

In [7]:
try :
  import semopy
except :
  !pip install semopy
  import semopy

In [11]:
from semopy import Model

mod="""
E =~ E1+E2
WOP =~ WOP1+WOP2
COU =~ COU1+COU2
PCQ =~ PCQ1+PCQ2
"""

model=Model(mod)
model.fit(df)

SolverResult(fun=0.5743553591727499, success=True, n_it=36, x=array([0.52518896, 1.15806396, 0.88774391, 0.58647552, 0.48266067,
       0.23243784, 0.5210598 , 0.03308068, 0.59809844, 0.29695637,
       0.19875773, 0.49074975, 0.12654539, 0.20456232, 0.12975728,
       0.22251689, 0.30710992, 0.22875811, 0.1581742 , 0.40395334,
       0.21641582, 0.22461656]), message='Optimization terminated successfully', name_method='SLSQP', name_obj='MLW')

In [12]:
from semopy.inspector import inspect
model_fit_inspection = inspect(model,std_est=True)
model_fit_inspection

    lval  op  rval  Estimate  Est. Std  Std. Err   z-value   p-value
0     E1   ~     E  1.000000  0.961409         -         -         -
1     E2   ~     E  0.525189  0.433070  0.247325  2.123478  0.033714
2   WOP1   ~   WOP  1.000000  0.546633         -         -         -
3   WOP2   ~   WOP  1.158064  0.506911  0.344497  3.361604  0.000775
4   COU1   ~   COU  1.000000  0.728381         -         -         -
5   COU2   ~   COU  0.887744  0.503566  0.263663  3.366962   0.00076
6   PCQ1   ~   PCQ  1.000000  0.754453         -         -         -
7   PCQ2   ~   PCQ  0.586476  0.387430  0.268953  2.180588  0.029214
8    WOP  ~~   WOP  0.126545  1.000000   0.07694  1.644734  0.100025
9    WOP  ~~   PCQ  0.204562  1.037661  0.070775  2.890305  0.003849
10   WOP  ~~     E  0.129757  0.573909  0.058499  2.218109  0.026547
11   WOP  ~~   COU  0.222517  1.319833  0.067619  3.290725  0.000999
12   PCQ  ~~   PCQ  0.307110  1.000000  0.160527   1.91314   0.05573
13   PCQ  ~~     E  0.228758  0.649477  0.078444  2.916187  0.003543
14   PCQ  ~~   COU  0.158174  0.602238  0.070265  2.251122  0.024378
15     E  ~~     E  0.403953  1.000000  0.173338   2.33044  0.019783
16     E  ~~   COU  0.216416  0.718460   0.06945  3.116129  0.001832
17   COU  ~~   COU  0.224617  1.000000  0.095833  2.343831  0.019087
18    E2  ~~    E2  0.482661  0.812450  0.108565  4.445805  0.000009
19  PCQ1  ~~  PCQ1  0.232438  0.430801  0.133453  1.741715  0.081558
20  COU2  ~~  COU2  0.521060  0.746421  0.117196  4.446039  0.000009
21    E1  ~~    E1  0.033081  0.075694  0.147773  0.223861  0.822865
22  PCQ2  ~~  PCQ2  0.598098  0.849898  0.131842  4.536494  0.000006
23  WOP1  ~~  WOP1  0.296956  0.701193  0.076091  3.902651  0.000095
24  COU1  ~~  COU1  0.198758  0.469461  0.069468   2.86112  0.004221
25  WOP2  ~~  WOP2  0.490750  0.743041  0.118274  4.149262  0.000033

In [13]:
# we can also look into the fit indicates for CFA by running the following code
from semopy import gather_statistics

stats=gather_statistics(model)
print(stats)

SEMStatistics(dof=14, ml=0.5743553591727499, fun=0.5743553591727499, chi2=(26.4203465219465, 0.022876513207578553), dof_baseline=28, chi2_baseline=115.9493190916122, rmsea=0.14040952869773984, cfi=0.8587783663338101, gfi=0.7721388385120947, agfi=0.5442776770241895, nfi=0.7721388385120947, tli=0.7175567326676202, aic=42.8512892816545, bic=83.08140000441459, params=[ParametersStatistics(value=0.525188962867192, se=0.24732489081205455, zscore=2.1234779934226937, pvalue=0.03371381767179482), ParametersStatistics(value=1.158063955907068, se=0.344497409741416, zscore=3.3616042476864005, pvalue=0.0007749109923418374), ParametersStatistics(value=0.8877439055144098, se=0.26366315425855835, zscore=3.366962319810855, pvalue=0.000760010719941473), ParametersStatistics(value=0.5864755157457795, se=0.26895290437184954, zscore=2.1805881483724314, pvalue=0.029213892511096295), ParametersStatistics(value=0.4826606687162596, se=0.10856542435605748, zscore=4.445804652583052, pvalue=8.756349137550856e-06), ParametersStatistics(value=0.2324378391674288, se=0.13345339227144407, zscore=1.7417154799100854, pvalue=0.08155824243563337), ParametersStatistics(value=0.521059801058449, se=0.11719640159941867, zscore=4.446039246452321, pvalue=8.746797536485218e-06), ParametersStatistics(value=0.0330806757666507, se=0.14777304153834842, zscore=0.22386137161453842, pvalue=0.8228651739069603), ParametersStatistics(value=0.5980984375041669, se=0.13184154609630794, zscore=4.536494414763082, pvalue=5.7197003515696565e-06), ParametersStatistics(value=0.2969563739488218, se=0.07609093852164958, zscore=3.9026509557432827, pvalue=9.514486147010892e-05), ParametersStatistics(value=0.19875773212776415, se=0.06946849729977411, zscore=2.8611203617549577, pvalue=0.004221467518727096), ParametersStatistics(value=0.4907497473479653, se=0.11827399260161298, zscore=4.14926169776671, pvalue=3.3354931679330235e-05), ParametersStatistics(value=0.1265453909152955, se=0.07693975058525329, zscore=1.6447335733618194, pvalue=0.10002476605283994), ParametersStatistics(value=0.20456231699728192, se=0.07077534588855207, zscore=2.8903047300752167, pvalue=0.003848685516289585), ParametersStatistics(value=0.12975727744167648, se=0.058499046820874985, zscore=2.2181092597419103, pvalue=0.02654738361299014), ParametersStatistics(value=0.22251689278124148, se=0.06761942196929817, zscore=3.290724562522614, pvalue=0.0009992970620282815), ParametersStatistics(value=0.30710991860213793, se=0.16052666941662974, zscore=1.9131395407149072, pvalue=0.05573019096006937), ParametersStatistics(value=0.22875810998723653, se=0.07844424609363818, zscore=2.9161872460505753, pvalue=0.0035433777561602042), ParametersStatistics(value=0.15817420014302191, se=0.07026462077650135, zscore=2.251121523076221, pvalue=0.02437784157134959), ParametersStatistics(value=0.4039533440513692, se=0.17333783597937746, zscore=2.330439524450382, pvalue=0.01978293283690591), ParametersStatistics(value=0.2164158223262675, se=0.06945020493528667, zscore=3.116129355194941, pvalue=0.0018324187267766412), ParametersStatistics(value=0.22461656280335035, se=0.09583309316322347, zscore=2.3438308770691383, pvalue=0.0190868240398141)])

**INTERPRETASI :**

JIKA P-VALUE < ALPHA (0.05) MAKA SIGNIFIKAN tetapi ini tidak terlalu dilihat, yang dilihat adalah **standart estimate**



mayoritas **standart estimate** lebih dari 0.5 dan 0.7 maka ideal tetapi ada jg yang kurang dari 0.5 atau tidak berpengaruh

dapat diketahui bahwa standart estimate E1 terhadap variabel E adalah 0,96 dan lebih besar daripada 0.5 maka disimpulkan pertanyaan E1 berpengaruh terhadap E
dan seterusnya sampai baris no. 7 PSQ2 ke PSQ

rmse adalah 0,14